* {
    color: #CC0000;
    font-weight: bold; 
    font-family: "Verdana", sans-serif;
}

a {
    text-decoration: underline;
}

.nav-main {
    display: inline;
}

ul.nav-main {
    text-align: left;
}

li.nav-item {
    display: inline;
    font-size: 19px;
    float: left;
    padding: 14px 14px;
}

.site-title {
    text-align: left;
    font-stretch: expanded;
    font-variant: small-caps;
    padding-left: 14px;
}


