* {
    color: #CC0000;
    font-weight: bold; 
    font-family: "Verdana", sans-serif;
}

h1 {
    text-align: left;
    font-stretch: expanded;
    font-variant: small-caps;
}

h1 {
    text-align: left;
    font-stretch: expanded;
    font-variant: small-caps;
}


a {
    text-decoration: underline;
}


ul.nav-main {
    list-style-type: none;
    padding: 0;
}

li.nav-item {
    display: inline;
}


